<!-- home.component.html -->

<div *ngIf="!editing">
    <table>
      <tr>
        <td id="td1">{{ name }}</td>
        <td id="td2">{{ mail }}</td>
        <td id="td3">{{ contact }}</td>
      </tr>
    </table>
  
    <button type="submit" id="save" (click)="onEdit()" class="btn btn-primary">Edit Profile</button>
  </div>
  
  <div *ngIf="editing">
    <table >
      <td  id="td1">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" class="form-control">
      </td>
      
      <td  id="td2">
        <label for="mail">Mail Id</label>
        <input type="email" id="mail" name="mail" [(ngModel)]="mail" class="form-control">
      </td>
      
      <td  id="td3">
        <label for="contact">Contact Number</label>
        <input type="tel" id="contact" name="contact" [(ngModel)]="contact" class="form-control">
      </td>
      
      <button (click) = "onSave()" type="submit" id="edit" class="btn btn-primary">Save Profile</button>
    </table>
  </div>
  